<h1> <%=@player_1%> VS  <%=@player_2%> </h1>
<h3> <%=@player_1%>: <%=@player_1_hp%>HP</h3>
<h3> <%=@player_2%>: <%=@player_2_hp%>HP </h3>
<form action='/attack' >
  <input id="Attack player 2" type="submit" value="attack">
</form>
